@model RT.Domain.Models.Region

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Region</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>

        <dd>
            @Html.DropDownListFor(model => model.ParentId, new SelectList(Model.RegionDbSet, "Id", "Title"), new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyDate)
        </dt>

        <dd>
           @Html.DisplayFor(model => model.ModifyDate, "_DateTime")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasChild)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasChild)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPath)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернутся в список", "Commander")
</p>
