@model RT.Domain.Models.Action

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Вы действательно хотите удалить запись?</h3>
<div>
    <h4>Action</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AntiActionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AntiActionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyDate, "_DateTime")
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернутся в список", "Commander")
        </div>
    }
</div>
