@model RT.Domain.Models.RubricCost

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RubricCost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RubricId)
        </dt>

        <dd>
            @Html.DropDownListFor(model => model.RubricId, new SelectList(Model.RubricDbSet, "Id", "Title"), new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyDate)
        </dt>

        <dd>
           @Html.DisplayFor(model => model.ModifyDate, "_DateTime")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернутся в список", "Index")
</p>
